.cabecera {
  background-color: #a89168;  
  background-image:"img/cabalgata4.png";
}

.cabecera h1 {  
  margin: 0;
  text-align: left;
  font-size: 40px;
  color: #520d05;
  font-family: 'Satisfy', cursive;
}

.cabecera .left {
  width: 80px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

.cabecera .left img{
  width: 100%;
}

.cabecera .center {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 190px);    
}

.cabecera .right {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 110px;
}

.cabecera .right img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .cabecera h1{
    font-size: 30px;
  }
  .cabecera .right {
    width: 0;
  }
}