.cabecera ul {  
  color: #520d05;
  overflow: hidden;
  margin: 0;  
}

.cabecera li {
  font-size: 20px;
  padding: 1px;
  list-style: none;  
  margin: 0 16px 4px 16px;
  float: right;
  font-family: cursive;
  color: #000000;
  font-weight: bold; 
}

@media only screen and (max-width: 600px) {
  .cabecera li{
    font-size: 18px;
  }
}